<h1>New Review</h1>

<form class="" action="/admin/review" method="post">

    <input type="text" name="author" placeholder="Author name">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="image" placeholder="Image URL">
    <br>
    <textarea name="body"></textarea>
    <br>
    <input type="submit" name="" value="Submit">

</form>
